name: Lab 6 CI (Web API and Tests)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      # Ищем любой .csproj в папке Lab44 и в папке тестов
      run: |
        dotnet restore Lab44/*.csproj
        dotnet restore AdvertisementServiceMVC2.Tests/*.csproj

    - name: Build
      # Собираем основной проект
      run: dotnet build Lab44/*.csproj --configuration Release --no-restore

    - name: Run Unit Tests
      # Запускаем тесты из папки тестов
      run: dotnet test AdvertisementServiceMVC2.Tests/*.csproj --configuration Release --no-build --verbosity normal
