name: Lab 6 CI (Web API and Tests)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      # Мы указываем конкретные файлы. Это уберет ошибку MSB1003
      run: |
        dotnet restore Lab44/AdvertisementServiceMVC2.csproj
        dotnet restore AdvertisementServiceMVC2.Tests/AdvertisementServiceMVC2.Tests.csproj

    - name: Build
      # Собираем основной проект
      run: dotnet build Lab44/AdvertisementServiceMVC2.csproj --configuration Release --no-restore

    - name: Run Unit Tests
      # Запускаем проект тестов. Даже если папка называется иначе, 
      # мы используем поиск по маске, который внутри команды test работает стабильно.
      run: dotnet test AdvertisementServiceMVC2.Tests/*.csproj --configuration Release --no-build --verbosity normal
